<% layout("layouts/boilerplate") %>
<div id="filters" class="sticky-top">
    <div class="filter">
        <a href="/listings?category=Trending">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
        </a>
    </div>

     <div class="filter">
        <a href="/listings?category=Rooms">
        <div><i class="fa-solid fa-bed-pulse"></i></div>
        <p>Rooms</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=Amazing Pools">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=Iconic Cities">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=Mountains">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p id="mountains">Mountains</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=Castles">
        <div><i class="fa-solid fa-chess-rook"></i></div>
        <p>Castles</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=Camping">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=Farms">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=Arctic">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=Domes">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
        </a>
    </div>

    <div class="filter">
        <a href="/listings?category=Boats">
        <div><i class="fa-solid fa-sailboat"></i></div>
        <p>Boats</p>
        </a>
    </div>
        
    <div class="tax-toggale">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input tax-toggale-inp" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total after tax</label>
        </div>
    </div>
</div>

<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
    <% for (listing of AllListings) { %>
        <div class="col">
        <a href="/listings/<%= listing._id %>" class="listing-links">
            <div class="card listing-card">
                <img 
                src="<%= listing.image.url %>" 
                class="card-img-top " 
                alt="listing image" 
                style="height: 15rem;"
                >
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b> <%= listing.title %> </b> <br>
                        &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
                        <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
                    </p>
                </div>
            </div>
        </a>
        </div>
    <% } %>
</div>

